* {
    padding: 12px 0 0 0;
    margin: 0;
}

@font-face {
    font-family: "good_brush";
    src: url(fonts/Good\ Brush.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

#title {
    font-family: "good_brush", sans-serif;
    font-size: min(4em);
}

#signature {
    min-width: 150px;
    width: 10vw;
}

#img-div p {
    text-align: center;
    font-style: italic;
}

#image {
    display: block;
    min-width: 200px;
    width: 40vw;
    max-width: 400px;
}

#img-caption {
    color: grey;
}

ul li {
    font-size: 14px;
    padding: 20px;
}

#timeline h2 {
    text-align: center;
}

#tribute-info {
    margin-top: 20px;
    margin-bottom: 20px;
}